<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		<meta name="title" content="{{ title or metadata.title }}">

		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ page.url | absoluteUrl}}">
		<meta property="og:locale" content="en_US">
		<meta property="og:title" content="{{ title or metadata.title }}">
		{%- if image %}
		<meta property="og:image" content="{{ image | absoluteUrl }}">
		{%- endif %}
		<meta property="og:image:alt" content="{{ title or metadata.title }}">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="{{ page.url | absoluteUrl}}">
		<meta name="twitter:title" content="{{ title or metadata.title }}">
		{%- if image %}
		<meta name="twitter:image" content="{{ image | absoluteUrl }}">
		{%- endif %}
		<meta name="twitter:image:alt" content="{{ title or metadata.title }}">
		<link rel="canonical" href="{{ page.url | absoluteUrl }}">

		{% set css %}
		{% include "../tailwind.css" %}
		{% endset %}
		<style>{{css | postcss | safe}}</style>
	</head>
	<body>
		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer></footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
